.cardContainer{
   width: 380px;
   height: 280px;
   margin: 0 30px;
   position: relative;
   box-shadow: 0 2px 10px #000 ;
   border-radius: 20px;
   margin-top: 40px;
}

.cardContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.cardBody{
   width: 100%;
   height: auto;
   top: 42.8%;
   right: 0;
   position: absolute;
   padding: 20px;
   backdrop-filter: blur;
   background: #00000080;
   border-radius: 0 0 13px 13px;
   color: #FFF;
   opacity: 0;
   transition: .3s;
}

.cardContainer:hover .cardBody{
    opacity: 1;
    cursor: pointer;
}

.cardBody .cardBtn button{
    background-color: #0074AB;
    padding: 5px 10px;
    border: none;
    border-radius: 12px;
    color: #FFF;
    transition: .3s;
}

.cardBody .cardBtn button:hover{
    box-shadow: 0 0 5px #0074AB;
    background-color: #FFF;
    color: #0074AB;
}

@media (max-width: 885px) {
    .cardBody{
        height: 57%;
    }
}

@media (max-width: 835px){
    .cardContainer{
        width: 340px;
        height: 240px;
    }
    
    .cardBody{
        top: 40%;
        height: 60%;
    }
  }
